{% extends 'base.html.twig' %}

{% block title %}Player
{% endblock %}

{% block body %}
    <div class="text-center m-4">
        <p class="font-weight-bold title">{{ video_title }}</p>
    </div>

    <div>
        <div class="player-container w-50 m-auto">
            <iframe src="{{ onedrive_url }}" width="960" height="540" frameborder="0" scrolling="no" allowfullscreen></iframe>
        </div>

        {% if youtube_url %}
            <div class="text-center">
                <span>En cas de problème de visionnage, la vidéo est aussi disponible sur YouTube :</span>
                <a href={{ youtube_url }}>{{ video_title }}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
