{% extends 'base.html.twig' %}

{% block title %}Player
{% endblock %}

{% block body %}
    <div class="text-center m-4">
        <p class="font-weight-bold title">{{ video_title }}</p>
    </div>

    <div>
        <div class="player-container w-50 m-auto">
            <iframe frameborder="0" width="960" height="540" src="{{ 'https://geo.dailymotion.com/player.html?video=' ~ external_id }}" allowfullscreen allow="autoplay"></iframe>
        </div>

        {% if external_url %}
            <div class="text-center">
                <span>Un problème de visionnage ? La vidéo est aussi disponible ici :</span>
                <a href={{ external_url }}>{{ video_title }}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
