@import "~bootstrap";

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

article {
    & img {
        transition: transform 0.3s ease-out;
        border: 2px solid grey;

        &:hover {
            transform: scale(1.075);
        }
    }
}