@import "~bootstrap";

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 64px;
    height: calc(100% - 64px);
    background-color: #a4c3fb;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

article {
    & img {
        transition: transform 0.3s ease-out;
        border: 2px solid grey;

        &:hover {
            transform: scale(1.075);
        }
    }
}

.font-weight-bold {
    font-weight: bold;
    font-size: 2rem;
}

.overflow-y-scroll {
    overflow-y: scroll;
    height: 100%;
}

.bg-dark {
    background-color: #293346 !important;
}