<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="w-100 text-center">
        <a class="navbar-brand font-weight-bold" href="{{ path('app_index') }}">The Player</a>
    </div>
    <div class="position-absolute end-0">
        <a type="button" href="{{ path('app_password') }}" class="btn btn-warning">Admin</a>
    </div>
</nav>
